<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamGridManager.Frontend.WindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SteamGridManager.Frontend.WindowsFormsApp.Properties.Settings>
            <setting name="SteamUserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SteamAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="View_Show_LibraryCapsule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_Show_HeroGraphic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_Show_Logo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_Show_Header" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_Show_Icon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="View_UseAlternateColumnHeaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_CacheLocation" serializeAs="String">
                <value>UserData</value>
            </setting>
            <setting name="View_Overlay_LibraryCapsule" serializeAs="String">
                <value />
            </setting>
            <setting name="View_Overlay_HeroGraphic" serializeAs="String">
                <value />
            </setting>
            <setting name="View_Overlay_Logo" serializeAs="String">
                <value />
            </setting>
            <setting name="View_Overlay_Header" serializeAs="String">
                <value />
            </setting>
            <setting name="View_Overlay_Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalApplications" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Title=Run Application
Location=steam://rungameid/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Run
Location=steam://run/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Run in Safe Mode
Location=steam://runsafe/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Show Keys
Location=steam://cdkeys/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Check System Requirements
Location=steam://checksysreqs/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Install
Location=steam://install/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Uninstall
Location=steam://uninstall/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Validate Game Files
Location=steam://validate/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Defragment Game Files
Location=steam://defrag/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Backup
Location=steam://backup/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Preload
Location=steam://preload/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Force Input
Location=steam://forceinputappid/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Details
Location=steam://nav/games/details/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Game Hub
Location=steam://url/GameHub/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Workshop
Location=steam://url/SteamWorkshopPage/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Achievements
Location=steam://url/SteamIDAchievementsPage/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Open Screenshots
Location=steam://open/screenshots/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Friends That Play
Location=steam://url/CommunityFriendsThatPlay/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Advertise
Location=steam://advertise/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Store
Location=steam://store/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=News
Location=steam://appnews/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Update News
Location=steam://updatenews/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Event Announcements
Location=steam://url/EventAnnouncementPage/${AppID}/1
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Store App Page
Location=steam://url/StoreAppPage/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Store DLC Page
Location=steam://url/StoreDLCPage/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Purchase
Location=steam://purchase/${AppID}
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                        <string>Title=Refresh Configuration
Location=steam://flushconfig/
Arguments=
StartingDirectory=
Verb=Run
AssetTypeNames=none,capsule,hero,logo,header,icon
</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Details_Asset_MouseLeftClickAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_MouseLeftDoubleClickAction" serializeAs="String">
                <value>Preview</value>
            </setting>
            <setting name="Details_Asset_MouseMiddleClickAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_MouseMiddleDoubleClickAction" serializeAs="String">
                <value>Open</value>
            </setting>
            <setting name="Details_Asset_Preview_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="List_Assets_Exist_String" serializeAs="String">
                <value>✓</value>
            </setting>
            <setting name="List_Assets_Missing_String" serializeAs="String">
                <value>✗</value>
            </setting>
            <setting name="List_Assets_Exist_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="List_Assets_Missing_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StartupCacheLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="NonSteamAppIconCachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowProgramsAsIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigurationVersion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="AutoDownloadMissingAssets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Details_CacheLocation" serializeAs="String">
                <value>UserData, LibraryCache</value>
            </setting>
            <setting name="Details_Progress_MinFileSizeThreshold" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="Toggles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="IsReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="View_List_SortBy" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="View_List_SortOrder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="View_List_Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_UserData_LibraryCapsule_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_UserData_HeroGraphic_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_UserData_Logo_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_UserData_Header_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_UserData_Icon_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_LibraryCache_LibraryCapsule_BackColor"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Details_LibraryCache_HeroGraphic_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_LibraryCache_Logo_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_LibraryCache_Header_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_LibraryCache_Icon_BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="View_StatusBar_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Database_AppInfo_LoadAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Database_Shortcuts_LoadAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropertiesDialog_StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_AppAction" serializeAs="String">
                <value>Properties</value>
            </setting>
            <setting name="List_VdfFilter_Prefix" serializeAs="String">
                <value>vdf:</value>
            </setting>
            <setting name="List_Column_AppID_MinAutoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="List_Column_AppID_MaxAutoWidth" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="List_Column_Title_MinAutoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="List_Column_Title_MaxAutoWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="List_Filter_RestoreAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseLeftDoubleClickAction"
                serializeAs="String">
                <value>ToggleImageSizeMode</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseMiddleClickAction"
                serializeAs="String">
                <value>Close</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseRightClickAction" serializeAs="String">
                <value>ChooseBackgroundColor</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseLeftClickAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseMiddleDoubleClickAction"
                serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_Preview_MouseRightDoubleClickAction"
                serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="List_Column_Types" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="VdfDefinition_Object_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="PropertyEditor_PersistTextSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropertyEditor_AllowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropertyEditor_AllowNewLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_VdfFilter_UseRegularExpressions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_VdfFilter_MatchCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_VdfFilter_MatchWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VdfPropertyType_Object_KnownPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>appinfo</string>
                        <string>appinfo/common</string>
                        <string>appinfo/extended</string>
                        <string>appinfo/config</string>
                        <string>appinfo/depots</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VdfPropertyType_String_KnownPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>appinfo/common/clienttga</string>
                        <string>appinfo/common/name</string>
                        <string>appinfo/common/icon</string>
                        <string>appinfo/common/logo</string>
                        <string>appinfo/common/logo_small</string>
                        <string>appinfo/common/clienticon</string>
                        <string>appinfo/common/metacritic_url</string>
                        <string>appinfo/common/metacritic_name</string>
                        <string>appinfo/common/metacritic_score</string>
                        <string>appinfo/common/metacritic_fullurl</string>
                        <string>appinfo/common/sortas</string>
                        <string>appinfo/common/type</string>
                        <string>appinfo/common/eulas/\d+/url</string>
                        <string>appinfo/common/eulas/\d+/id</string>
                        <string>appinfo/common/eulas/\d+/name</string>
                        <string>appinfo/common/steam_deck_compatibility/tests/\d+/token</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/supported_input</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/recommended_runtime</string>
                        <string>appinfo/common/small_capsule/\w+</string>
                        <string>appinfo/common/header_image/\w+</string>
                        <string>appinfo/common/library_assets/library_capsule</string>
                        <string>appinfo/common/library_assets/library_hero</string>
                        <string>appinfo/common/library_assets/library_logo</string>
                        <string>appinfo/common/library_assets/logo_position/pinned_position</string>
                        <string>appinfo/common/associations/\d+/type</string>
                        <string>appinfo/common/associations/\d+/name</string>
                        <string>appinfo/common/supported_languages/\w+/supported</string>
                        <string>appinfo/extended/cwdoverride</string>
                        <string>appinfo/extended/developer</string>
                        <string>appinfo/extended/gamedir</string>
                        <string>appinfo/extended/homepage</string>
                        <string>appinfo/extended/icon</string>
                        <string>appinfo/extended/installscript</string>
                        <string>appinfo/extended/launcheula</string>
                        <string>appinfo/extended/serverbrowsername</string>
                        <string>appinfo/extended/state</string>
                        <string>appinfo/extended/developer_url</string>
                        <string>appinfo/extended/publisher</string>
                        <string>appinfo/extended/gamemanualurl</string>
                        <string>appinfo/config/installdir</string>
                        <string>appinfo/config/launch/\d+/executable</string>
                        <string>appinfo/config/launch/\d+/workingdir</string>
                        <string>appinfo/config/installscriptsignature</string>
                        <string>appinfo/depots/\d+/name</string>
                        <string>appinfo/depots/\d+/config/language</string>
                        <string>appinfo/depots/branches/\w+/description</string>
                        <string>appinfo/ufs/savefiles/\d+/root</string>
                        <string>appinfo/ufs/savefiles/\d+/path</string>
                        <string>appinfo/ufs/savefiles/\d+/pattern</string>
                        <string>appinfo/ufs/savefiles/\d+/platforms/\d+</string>
                        <string>appname</string>
                        <string>AppName</string>
                        <string>exe</string>
                        <string>Exe</string>
                        <string>StartDir</string>
                        <string>icon</string>
                        <string>Icon</string>
                        <string>ShortcutPath</string>
                        <string>LaunchOptions</string>
                        <string>DevkitGameID</string>
                        <string>FlatpakAppID</string>
                        <string>tags/\d+</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VdfPropertyType_UInt_KnownPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>appinfo/appid</string>
                        <string>appinfo/common/primary_genre</string>
                        <string>appinfo/common/gameid</string>
                        <string>appinfo/common/review_score</string>
                        <string>appinfo/common/review_percentage</string>
                        <string>appinfo/common/metacritic_score</string>
                        <string>appinfo/common/steam_deck_compatibility/tested_build_id</string>
                        <string>appinfo/common/steam_deck_compatibility/tests/\d+/display</string>
                        <string>appinfo/common/steam_deck_compatibility/tested_build_id</string>
                        <string>appinfo/common/library_assets/logo_position/width_pct</string>
                        <string>appinfo/common/library_assets/logo_position/height_pct</string>
                        <string>appinfo/common/genres/\d+</string>
                        <string>appinfo/common/store_tags/\d+</string>
                        <string>appinfo/extended/primarycache</string>
                        <string>appinfo/config/contenttype</string>
                        <string>appinfo/depots/\d+/maxsize</string>
                        <string>appinfo/depots/\d+/manifests/public</string>
                        <string>appinfo/depots/branches/\w+/buildid</string>
                        <string>appinfo/ufs/quota</string>
                        <string>appinfo/ufs/maxnumfiles</string>
                        <string>appid</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VdfPropertyType_Boolean_KnownPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>appinfo/common/steam_deck_compatibility/configuration/requires_manual_keyboard_invoke</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/requires_non_controller_launcher_nav</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/primary_player_is_controller_slot_0</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/non_deck_display_glyphs</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/small_text</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/requires_internet_for_setup</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/requires_internet_for_singleplayer</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/requires_h264</string>
                        <string>appinfo/common/steam_deck_compatibility/configuration/gamescope_frame_limiter_not_supported</string>
                        <string>appinfo/common/community_hub_visible</string>
                        <string>appinfo/common/category/category_\d+</string>
                        <string>appinfo/common/supported_languages/\w+/supported</string>
                        <string>appinfo/common/supported_languages/\w+/full_audio</string>
                        <string>appinfo/extended/noservers</string>
                        <string>appinfo/extended/order</string>
                        <string>appinfo/extended/showcdkeyinmenu</string>
                        <string>appinfo/extended/hadthirdpartycdkey</string>
                        <string>appinfo/config/installscriptoverride</string>
                        <string>appinfo/depots/overridescddb</string>
                        <string>appinfo/depots/systemdefined</string>
                        <string>appinfo/depots/branches/\w+/pwdrequired</string>
                        <string>appinfo/ufs/savefiles/\d+/recursive</string>
                        <string>IsHidden</string>
                        <string>AllowDesktopConfig</string>
                        <string>AllowOverlay</string>
                        <string>openvr</string>
                        <string>Devkit</string>
                        <string>DevkitOverrideAppID</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VdfPropertyType_RelativeTime_KnownPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>appinfo/common/steam_deck_compatibility/test_timestamp</string>
                        <string>appinfo/common/store_asset_mtime</string>
                        <string>appinfo/common/original_release_date</string>
                        <string>appinfo/common/steam_release_date</string>
                        <string>appinfo/depots/branches/\w+/timeupdated</string>
                        <string>LastPlayTime</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VdfDefinition_String_Color" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="VdfDefinition_UInt_Color" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="VdfDefinition_Boolean_Color" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="VdfDefinition_RelativeTime_Color" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="VdfDefinition_Boolean_FormatAsString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VdfDefinition_Boolean_FalseString" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="VdfDefinition_Boolean_TrueString" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="VdfDefinition_UInt_CultureName" serializeAs="String">
                <value />
            </setting>
            <setting name="VdfDefinition_UInt_Culture" serializeAs="String">
                <value>Invariant</value>
            </setting>
            <setting name="VdfDefinition_Enum_Color" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="VdfDefinition_RelativeTime_Format" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="VdfDefinition_RelativeTime_Culture" serializeAs="String">
                <value>Current</value>
            </setting>
            <setting name="DateTimePicker_UseVdfDefinitionFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateTimePicker_CustomFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DateTimePicker_Format" serializeAs="String">
                <value>Long</value>
            </setting>
            <setting name="View_List_CustomSortBy" serializeAs="String">
                <value />
            </setting>
            <setting name="Details_DragAndDrop_ValidDrop_Color" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="Details_DragAndDrop_InvalidDrop_Color" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Details_Asset_Preview_BackColor_ShowMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Details_BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Details_Asset_MouseRightClickAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_MouseRightDoubleClickAction" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Details_Asset_BorderActivation" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PropertiesDialog_DefaultAction" serializeAs="String">
                <value>Edit</value>
            </setting>
            <setting name="PropertiesDialog_ObjectAction" serializeAs="String">
                <value>Open</value>
            </setting>
            <setting name="List_Status_Part_Order" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>totalCount</string>
                        <string>selectionCount</string>
                        <string>status</string>
                        <string>dataProvider</string>
                        <string>sortBy</string>
                        <string>sortOrder</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="List_Status_Part_TotalCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_Status_Part_UnknownAppSubCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Status_Part_AppSubCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Status_Part_ShortcutSubCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Status_Part_SelectionCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_Status_Part_Status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Status_Part_DataProvider" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_Status_Part_SortBy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_Status_Part_SortOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Details_Filter_AutoCommit_Delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="List_Filter_AutoCommit_Delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Details_Filter_AutoCommit_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Filter_AutoCommit_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_Language" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="Overlays_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Localization_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="List_Menu_VdfColumn_AllowSelectPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Menu_VdfColumn_ShowAllFilters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Database_AppInfo_AllowSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asset_NonSteamAppIcon_NameSuffix" serializeAs="String">
                <value>i</value>
            </setting>
            <setting name="PropertyEditor_CopyTextFormat_Single" serializeAs="String">
                <value>{Value}</value>
            </setting>
            <setting name="PropertyEditor_CopyTextFormat_Many" serializeAs="String">
                <value>{Key} : {Value}</value>
            </setting>
            <setting name="IconConversion_UseClosest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconConversion_SaveIconEntry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconConversion_SaveIconEntries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Details_RestoreAppIDAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NonSteamAppIcon_AllowDirectLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NonSteamAppIcon_AutoExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Asset_DeleteAllVariantsBeforeCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Details_WatchFileChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_WatchFileChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Details_WatchFileChangesSimple" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamGridManager.Frontend.WindowsFormsApp.Properties.Settings>
    </userSettings>
</configuration>